<!DOCTYPE html>
<html>
<head>
	<title>iResQ | Intelligent Rescuing System</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
	<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One" type='text/css'>
</head>
<body>
	<div class="intro container">
		<div class="intro-body row text-center">
			<h3>Congrats ! You've reached the heart of iResQ.</h3>
			<h5>Ready to join us ? Reach to us !</h5>
			<br>
			<ul class="list-inline">
				<li><a href=""><i class="fa-2x fa fa-facebook"></i></a></li>
				<li><a href=""><i class="fa-2x fa fa-twitter"></i></a></li>
				<li><a href=""><i class="fa-2x fa fa-medium"></i></a></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.2.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>