<!DOCTYPE html>

<head>
    <title>iResQ</title>
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:locale" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="fb:admins" content="" />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-itunes-app" content="app-id=958103920">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One" type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
</head>

<body class="uk">
    <header class="splash__hero">
        <div class="container">
            <nav class="site-nav">
                <div class="container">
                    <a href="index.html" class="site-nav__logo">
                        <!-- <img src="{{url_for('static', filename='img/logo.png')}}" style="height: 20px; width: auto"> -->
                        <h1 class="logo_">iResQ</h1>
                    </a>
                </div>
            </nav>
            <img width="280" class="splash__iphone-hero animated fadeInUp" src="{{url_for('static', filename='img/app1.png')}}" alt="Hero iphone b8b8c655bd8fb082900a974c87108b2c3ec5068918fbb1420ce9ec7898899c30" />
            <header class="splash__header animated fadeInLeft">
                <h1 class="splash__title">
                    I rescue. We Rescue. All rescued !
                </h1>
                <h2 class="splash__subheading">
                Spread beacons in the disaster area. wait for beacons and ML server to compute. use heap map on screen to find people who needs help.</h2>
                <aside class="splash__cta-container">
                    <a href="https://app.appsflyer.com/id958103920?pid=hassle_homepage" class="splash__cta splash__cta--ios">
                        <span class="cta__subtitle">Download on the</span>
                        <br/>
                        <span class="cta__title">App Store</span>
                    </a>
                    <a href="http://app.appsflyer.com/com.hassle.customer.app?pid=hassle_homepage" class="splash__cta splash__cta--android last">
                        <span class="cta__subtitle">Download on the</span>
                        <br/>
                        <span class="cta__title">Play Store</span>
                    </a>
                </aside>
                <br><br>
                <div class="app-release__quote">
                    <p>
                        <span style="font-family: 'Georgia';">&ldquo;</span>Very innovative approach for Disaster Management<span style="font-family: 'Georgia';">&rdquo;</span> - John Doe
                    </p>
                </div>
            </header>
        </div>
    </header>
    <div class="container">
        <p class="splash__body-copy">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
    <div class="splash__panel-outer splash__panel-outer--one">
        <section class="splash__panel container">
            <hgroup class="splash__panel-copy splash__panel-copy--right">
                <h2 class="splash__panel-heading">
Lorem ipsum dolor sit amet
                </h2>
                <p class="splash__panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </hgroup>
        </section>
    </div>
    <div class="splash__panel-outer splash__panel-outer--two">
        <section class="splash__panel container">
            <hgroup class="splash__panel-copy splash__panel-copy--left">
                <h1 class="splash__panel-heading">
                    Lorem ipsum dolor sit amet
                    </h1>
                <p class="splash__panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </hgroup>
        </section>
    </div>
    <div class="splash__panel-outer splash__panel-outer--three">
        <section class="splash__panel container">
            <hgroup class="splash__panel-copy splash__panel-copy--right">
                <h1 class="splash__panel-heading">
                    Lorem ipsum dolor sit amet
                    <br/>
                    Lorem ipsum dolor sit amet
                </h1>
                <p class="splash__panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </hgroup>
        </section>
    </div>
    <section class="secondary-cta">
        <div class="container">
            <img class="secondary-cta__app-icon" width="140px" src="https://d3w19f4xhqmkd3.cloudfront.net/assets/marketing/mobile_app_splash_page/app_icon-7f7943ea8e2f51e12fe17b2c8084a3f396d054ee529842ca566e97c44c84e59a.png" alt="App icon 7f7943ea8e2f51e12fe17b2c8084a3f396d054ee529842ca566e97c44c84e59a" />
            <h1 class="secondary-cta__heading">
Lorem ipsum dolor sit amet          </h1>
            <aside class="splash__cta-container splash__cta-container--centered">
                <a href="https://app.appsflyer.com/id958103920?pid=hassle_homepage" class="splash__cta splash__cta--ios">
                    <span class="cta__subtitle">Download on the</span>
                    <br/>
                    <span class="cta__title">App Store</span>
                </a>
                <a href="http://app.appsflyer.com/com.hassle.customer.app?pid=hassle_homepage" class="splash__cta splash__cta--android last">
                    <span class="cta__subtitle">Download on the</span>
                    <br/>
                    <span class="cta__title">Play Store</span>
                </a>
            </aside>
        </div>
    </section>
</body>

</html>
